<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h3>Привет, я автор</h3>
<br>
<p>
  Меня зовут Алексей Андреев. Я начинающий backend-разработчик на Python. 
  Осваиваю Python, Django, Django Rest Framework и другие сопутствующие технологии и библиотеки. <br>
  В свободное от работы и учёбы время люблю поиграть в настольные игры, НРИ и волейбол. 
  Люблю прогуляться, выбраться на природу и заниматься другими приятностями.
</p>
{% endblock %}